<header>
    <nav style="height: 130px; width: 100vw; background-color: white; color: black; font-family: monospace;">
        <div class="d-flex flex-column mt-5">
        <h2 class="align-self-center">Silvestre Fernandez</h2>
            <h5 class="align-self-center">Model</h5>
            <div class="d-flex flex-row align-self-center">
                <a href="{{ path('index') }}" class="m-2 header-link">Home</a>
                <a href="{{ path('about') }}" class="m-2 header-link">About</a>
                <a href="{{ path('gallery') }}" class="m-2 header-link">Gallery</a>
                <a href="{{ path('contact') }}" class="m-2 header-link">Contact</a>
            </div>
        </div>
    </nav>
</header>

